@use "../../../App.scss" as *;

.main-register-container{
    @include horizontal-align(100%, 100%, 0);
    font-family: $fnormal;

    .register-foreground-container{
        width: 40%;
        height: 90%;
        display: grid;
        grid-template-rows: 120px 1fr;
        min-width: 800px;
        background-color: $neutral-color-black;
        border-radius: 30px;
        box-shadow: 0px 0px 30px rgba($neutral-color-black, 1);
        overflow: auto;
        position: relative;

        .register-form-title-container{
            @include vertical-align(100%, 100%, 0);
            background-color: rgba($neutral-color-black, 1);
            flex-wrap: wrap;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 2;
    
            h1{
                text-align: center;
                @include font-config($fextraBold, $f42px, $fnormal, $neutral-color-white, 1);
                margin-bottom: 12px;
            }
            p{
                text-align: center;
                @include font-config($fregular, 15px, $fnormal, $neutral-color-white, 1);
            }
        }
    
        form{
            width: 100%;
            height: auto;
            flex: 1;
            background-color: rgba($neutral-color-white, 1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 24px 24px 24px;

            .error{
                border-color: $error-color-red;
            }
    
            label{
                width: 90%;
                @include font-config($fbold, $f15px, $fnormal, $neutral-color-dark-gray, 1);
                margin-block: 20px 4px;
                display: block;
            }
    
            input{
                width: 90%;
                height: 40px;
                min-height: 40px;
                line-height: 40px;
                border: 2px solid $neutral-color-light-gray;
                border-radius: 10px;
                @include font-config($fbold, $f14px, $fnormal, $neutral-color-dark-gray, 1);
                padding-left: 15px;
                background-repeat: no-repeat;
                
                &::placeholder{
                    @include font-config($fbold, $f14px, $fnormal, $neutral-color-light-gray, 1);
                }
            }

            .form-names-container, .form-password-container, .form-type-capacity-container{
                width: 90%;
                display: flex;
                column-gap: 16px;

                input{
                    width: 100%;
                }

                div:first-child{
                    width: 50%;
                }

                div:last-child{
                    width: 50%;
                }
            }

            .form-password-container{

                .password-rules {
                    width: 90%;
                    list-style: none;
                    padding: 0;
                    margin: 5px 0 0 0;
                    font-size: 12px;
                    color: #999;
                    
                    li {
                        transition: 0.2s;
                    }
        
                    .ok {
                      color: $success-color-green;
                      font-weight: 500;
                    }
                }
            }

            .form-type-capacity-container{

                select{
                    width: 90%;
                    height: 40px;
                    line-height: 40px;
                    border: 2px solid $neutral-color-light-gray;
                    border-radius: 10px;
                    @include font-config($fbold, $f14px, $fnormal, $neutral-color-dark-gray, 1);
                    padding-left: 15px;
                }
            }
            
            .form-buttons-container{
                display: flex;
                column-gap: 24px;

                button:first-child{
                    background-color: $error-color-red;
                    
                    &:hover{
                        background-color: $error-color-red-strong;
                    }
                }

                button{
                    width: 220px;
                    height: 45px;
                    min-height: 45px;
                    background-color: $secondary-color-blue-2;
                    border: none;
                    border-radius: 20px;
                    @include font-config($fsemiBold, $f16px, $fnormal, $neutral-color-white, 1);
                    margin-top: 24px;
                    cursor: pointer;
                    transition: all 0.2s ease;
    
                    &:hover{
                        background-color: $primary-color-blue;
                    }
                }
            }
        }
    }

}
