@use "../../../App.scss" as *;

.entity-update-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .entity-title-container{
        @include vertical-align(100%, 120px, 0);
        flex-wrap: wrap;
        position: sticky;
        z-index: 1;
        padding-block: 12px;
        top: 0;
        background-color: $neutral-color-white;
        
        h2{
            text-align: center;
            @include font-config($fextraBold, $f42px, $fnormal, $neutral-color-dark-gray, 1);
            margin-bottom: 12px;
        }
        p{
            text-align: center;
            @include font-config($fregular, 15px, $fnormal, $neutral-color-dark-gray, 1);
        }
    }

    .filters-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 24px 24px 0 24px;
        gap: 12px;

        .name-filter-container, .description-filter-container, .birth-date-filter-container, .estimated-age-filter-container, .species-filter-container, .breed-filter-container{
            width: 30%;
            max-width: 450px;
            min-width: 300px;
        }
        
        div{

            label{
                width: 10%;
                @include font-config($fbold, $f15px, $fnormal, $neutral-color-dark-gray, 1);
            }
    
            input{
                width: 100%;
                height: 40px;
                min-height: 40px;
                line-height: 40px;
                border: 2px solid $neutral-color-light-gray;
                border-radius: 10px;
                @include font-config($fbold, $f14px, $fnormal, $neutral-color-dark-gray, 1);
                padding-left: 15px;
                background-repeat: no-repeat;
                
                &::placeholder{
                    @include font-config($fbold, $f14px, $fnormal, $neutral-color-light-gray, 1);
                }
            }
        }
    }

    .entity-list{
        width: 100%;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        column-gap: 12px;
        row-gap: 36px;
        justify-items: center;
        align-content:start;
        overflow-y: scroll;
        margin-top: 24px;
        padding: 36px 20px 20px 20px;

        .entity-card{
            width: 300px;
            background-color: $neutral-color-white;
            padding: 12px;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba($neutral-color-black, 0.3);
            position: relative;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover{
                transform: scale(1.05);
            }

            .card-header{
                height: 200px;
            }

            .card-image{

                img{
                    width: 100%;
                    height: 180px;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }

            .card-body{
                height: 105px;
                display: flex;
                flex-wrap: wrap;
                row-gap: 8px;
                margin-bottom: 8px;
                padding-inline: 4px;
                align-items: start;


                .name-age-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 18px;
                    
                    .name-icon {
                        display: flex;
                        align-items: center;
                        gap: 8px; // espaço entre nome e ícone
                    }
                    
                    .entity-name {
                        @include font-config($fbold, $f18px, $fnormal, $neutral-color-dark-gray, 1);
                        width: 20ch;
                        max-width: 160px;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    img{
                        width: 16px;
                        height: 16px;
                    }

                    .entity-age {
                        @include font-config($fbold, $f18px, $fnormal, $neutral-color-dark-gray, 1);
                    }
                }
                
                .animal-informations-container{
                    display: flex;
                    width: 100%;
                    height: 20px;
                    justify-content: space-between;
                    column-gap: 8px;

                    .entity-species {
                        @include font-config($fregular, $f14px, $fnormal, $neutral-color-dark-gray, 1);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    
                    .entity-breed {
                        @include font-config($fregular, $f14px, $fnormal, $neutral-color-dark-gray, 1);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    strong{
                        @include font-config($fbold, $f18px, $fnormal, $neutral-color-dark-gray, 1);
                    }
                }
                
                .entity-description {
                    @include font-config($fregular, $f13px, $fnormal, $neutral-color-dark-gray, 1);
                    text-align: justify;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .card-footer {
                padding-inline: 4px;
                height: 60px;

                div{
                    display: flex;
                    justify-content: space-between;
                }
                
                .entity-register-date, .entity-exit-reason {
                    @include font-config($fregular, $f14px, $fnormal, $neutral-color-dark-gray, 1);
                    
                    span{
                        @include font-config($fbold, $f16px, $fnormal, $neutral-color-dark-gray, 1);
                    }
                }
            
                .entity-status {
                    position: absolute;
                    right: 12px;
                    top: 28px;
                    padding: 6px 8px 4px 8px;
                    border-radius: 10px 0 0 10px;
                    @include font-config($fextraBold, $f13px, $fnormal, $neutral-color-white, 1);
                    text-transform: uppercase;
                    display: flex;
                    box-shadow: -5px 0 10px rgba($neutral-color-black, 0.2);
            
                  &.in_shelter {
                    background-color: $secondary-color-blue8;
                  }
            
                  &.looking_for_family {
                    background-color: $supply-low-red;
                  }
            
                  &.reunited {
                    background-color: $supply-high-green;
                  }
            
                  &.released {
                    background-color: $supply-high-green;
                  }
            
                }
                
                .entity-exit-reason {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 20px;
                    margin-top: 4px;
                    
                    span{
                        width: 100%;
                        text-align: left;
                    }
                    
                    p{
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-align: justify;
                    }

                }
            
            
            }
            
        }
    }
}

@media (max-width: 1023px) {
    .entity-update-main-container{
        
        .entity-title-container{
            width: 90%;
            margin-inline: auto;
            height: auto;
            min-height: 120px;
            max-height: 160px;
            padding-block: 12px;
            
            h2{
            text-wrap: balance;
            margin-bottom: 4px;
            }
    
            p{
            text-wrap: balance;
            }
        }

        .filters-container{
            width: 90%;

            .name-filter-container, .description-filter-container, .birth-date-filter-container, .estimated-age-filter-container, .species-filter-container, .breed-filter-container{
                width: 30%;
                max-width: 250px;
                min-width: 150px;
            }
        }
    }   
}

@media (max-width: 500px) {
    .entity-update-main-container{

        .entity-title-container{
            position: static;
        }

        .filters-container{

            .name-filter-container, .description-filter-container, .birth-date-filter-container, .estimated-age-filter-container, .species-filter-container, .breed-filter-container{
                width: 100%;
                max-width: none;
                min-width: none;
            }
        }

        .entity-list{
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }   
}